* {
  all: unset;
  font-family: "DroidSansM Nerd Font Mono";
}

window#waybar {
}

#taskbar {
  color: transparent;
  border-style: solid;
  border-color: rgba(63,94,251,0.7);
  background: rgba(0, 0, 0, 0.35);
  /* box-shadow: inset -1px 0 rgba(63,94,251,0.7); */
  /* background: linear-gradient(to right, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0, 0.4)); */
}

#workspaces {
  font-size: 20px;
  color: #666666;
  background: rgba(0, 0, 0, 0.6);
  padding: 0px 0px 2px 0px;
  margin-bottom: 50px;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0 ,0), rgba(0, 0, 0, 0.35)); */
}

#workspaces button:first-child {
  padding: 8px 0px 8px 0px;
}

#workspaces button {
  padding: 0px 0px 8px 0px;
}

#workspaces button.active {
  color: #ffffff;
}

#taskbar button {
  border-left: 1px;
  border-style: solid;
  border-left-color: transparent;
  transition: border-left-color 0.3s ease-out;
  padding: 5px 0px 5px 0px;
}

#taskbar button:hover {
  color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(51,204,254,0.4);
}

#taskbar button.active {
  color: rgba(255, 255, 255, 1);
  border-left-color: rgba(51,204,254,1);
}

#taskbar button image {
  -gtk-icon-transform: scale(0.7);
  transition: -gtk-icon-transform 0.1s ease;
}

#taskbar button:hover image {
  -gtk-icon-transform: scale(1);
}

#taskbar button.active image {
  -gtk-icon-transform: scale(1);
}

.modules-right {
}

#clock {
  font-size: 18px;
  color: #a1a1a1;
  padding: 10px 0px 10px 0px;
  background: rgba(0, 0, 0, 0.35);
}

#custom-bottomRightDarkTrans,
#custom-bottomLeftLightDark,
#custom-bottomLeftDarkTrans,
#custom-bottomLeftLightTrans,
#custom-topRightLightTrans,
#custom-topLeftDarkLight,
#custom-topLeftDarkTrans,
#custom-topLeftLightTrans {
  font-size: 0px;
}

#custom-bottomRightDarkTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.6);
  border-right: 30px solid transparent;
}

#custom-bottomLeftLightDark {
  border-bottom: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid rgba(0, 0, 0, 0.6);
}

#custom-bottomLeftDarkTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.60);
  border-left: 30px solid transparent;
}

#custom-bottomLeftLightTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid transparent;
}

#custom-topRightLightTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.35);
  border-right: 30px solid transparent;
}

#custom-topLeftDarkLight {
  border-top: 30px solid rgba(0, 0, 0, 0.6);
  border-left: 30px solid rgba(0, 0, 0, 0.35);
}

#custom-topLeftLightTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid transparent;
}

#custom-topLeftDarkTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.60);
  border-left: 30px solid transparent;
}

#hardware {
  color: #a1a1a1;
  margin: 0px 0px 50px 0px;
}

#memory.icon, #battery.icon { padding-bottom: 5px; }
#cpu.string, #battery.string { padding-top: 5px; }
#cpu.warning, #battery.warning, #memory.warning { color: #5080FF; }

#memory.icon, #memory.string, #cpu.string, #cpu.icon, #battery.string, #battery.icon, #network {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
}

tooltip {
  background: rgba(0,0,0,1);
  border-radius: 5px;
}

/* border-image: linear-gradient(to bottom, rgba(0,0,0,0),rgb(51,204,254), rgba(0,0,0,0)) 1 100%; */
/* box-shadow: inset 2px 0 rgba(255, 255, 255, 0.4); */
/* background-image: url(""); */
/* background-size: cover; */
/* background-repeat: no-repeat; */
