* {
  all: unset;
  font-family: "DroidSansM Nerd Font Propo";
}

/* ------------------------------------ WORKSPACES */
#workspaces {
  font-size: 20px;
  color: #666666;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 50px;
}

#workspaces button:first-child {
  padding-top: 8px;
}

#workspaces button:last-child {
  padding-bottom: 8px;
}

#workspaces button:first-child:last-child {
  padding: 8px 0px 8px 0px;
}

#workspaces button {
  padding: 4px 0px 4px 0px;
}

#workspaces button.active {
  color: #ffffff;
  box-shadow: inset 2px 0 rgba(63, 94, 251, 0.7);
}

/* ------------------------------------ TASKBAR */
#taskbar {
  color: transparent;
  border-style: solid;
  border-color: rgba(63, 94, 251, 0.7);
  background: rgba(0, 0, 0, 0.35);
  font-size: 20px;
}

#taskbar button {
  border-left: 1px;
  border-style: solid;
  border-left-color: transparent;
  transition: border-left-color 0.3s ease-out;
  padding: 5px 0px 5px 0px;
}

#taskbar button:hover {
  color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(51, 204, 254, 0.4);
}

#taskbar button.active {
  color: rgba(255, 255, 255, 1);
  border-left-color: rgba(51, 204, 254, 1);
}

#taskbar button image {
  -gtk-icon-transform: scale(0.7);
  transition: -gtk-icon-transform 0.1s ease;
}

#taskbar button:hover image {
  -gtk-icon-transform: scale(1);
}

#taskbar button.active image {
  -gtk-icon-transform: scale(1);
}

/* ------------------------------------ HARDWARE */
#hardware {
  color: #a1a1a1;
}

#cpu.icon.warning,
#battery.icon.warning,
#memory.icon.warning {
  color: #ffffff;
  box-shadow: inset 0px -2px rgba(173, 0, 0, 1);
}

#cpu.string.warning,
#battery.string.warning,
#memory.string.warning {
  color: #ffffff;
}

#bluetooth.string,
#wireplumber.string,
#memory.string,
#cpu.string,
#battery.string,
#network.string {
  padding-top: 10;
  padding-bottom: 5px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.6);
}

#bluetooth.icon,
#wireplumber.icon,
#memory.icon,
#cpu.icon,
#battery.icon,
#network.icon {
  padding-bottom: 10;
  margin-bottom: 2px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.6);
}

/* ------------------------------------ CUSTOM */
#custom-bottomRightDarkTrans,
#custom-bottomLeftLightDark,
#custom-bottomLeftDarkTrans,
#custom-bottomLeftLightTrans,
#custom-topRightLightTrans,
#custom-topLeftDarkLight,
#custom-topLeftDarkTrans,
#custom-topRightDarkTrans,
#custom-topLeftLightTrans {
  font-size: 0px;
}

#custom-bottomRightDarkTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.6);
  border-right: 30px solid transparent;
}

#custom-bottomLeftLightDark {
  border-bottom: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid rgba(0, 0, 0, 0.6);
}

#custom-bottomLeftDarkTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.60);
  border-left: 30px solid transparent;
}

#custom-bottomLeftLightTrans {
  border-bottom: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid transparent;
}

#custom-topRightLightTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.35);
  border-right: 30px solid transparent;
}

#custom-topLeftDarkLight {
  border-top: 30px solid rgba(0, 0, 0, 0.6);
  border-left: 30px solid rgba(0, 0, 0, 0.35);
}

#custom-topLeftLightTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.35);
  border-left: 30px solid transparent;
}

#custom-topLeftDarkTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.60);
  border-left: 30px solid transparent;
}

#custom-topRightDarkTrans {
  border-top: 30px solid rgba(0, 0, 0, 0.60);
  border-right: 30px solid transparent;
}

/* ------------------------------------ OTHER */
#clock {
  font-size: 18px;
  color: #a1a1a1;
  padding: 10px 0px 10px 0px;
  background: rgba(0, 0, 0, 0.60);
}

tooltip {
  background: rgba(0, 0, 0, 1);
  border-radius: 5px;
}

/* window#waybar {} */
/* .modules-right {} */
/* box-shadow: inset -1px 0 rgba(63,94,251,0.7); */
/* box-shadow: inset -1px 0 rgba(63,94,251,0.7); */
/* background: linear-gradient(to right, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0, 0.4)); */
/* border-image: linear-gradient(to bottom, rgba(0,0,0,0),rgb(51,204,254), rgba(0,0,0,0)) 1 100%; */
/* box-shadow: inset 2px 0 rgba(255, 255, 255, 0.4); */
/* background-image: url(""); */
/* background-size: cover; */
/* background-repeat: no-repeat; */
