* {
  all: unset;
  font-family: "SauceCodePro Nerd Font Mono";
}

window#waybar {
}

#taskbar {
  color: transparent;
  border-radius: 0px 10px 10px 0px;
  border-width: 0px 1px 0px 0px;
  border-style: solid;
  border-color: rgba(63,94,251,1);
  background: linear-gradient(to right, rgba(0, 0, 0 ,0.2), rgba(0, 0, 0, 0.5));
}

#taskbar button {
  border-left: 1px;
  border-style: solid;
  border-left-color: transparent;
  transition: border-left-color 0.3s ease-out;
  padding: 10px 10px 10px 5px;
}

#taskbar button:hover {
  color: rgba(255, 255, 255, 0.4);
  border-left-color: rgba(51,204,254,0.4);
}

#taskbar button.active {
  color: rgba(255, 255, 255, 1);
  border-left-color: rgba(51,204,254,1);
}

#taskbar button image {
  -gtk-icon-transform: scale(0.7);
  transition: -gtk-icon-transform 0.1s ease;
}

#taskbar button:hover image {
  -gtk-icon-transform: scale(1);
}

#taskbar button.active image {
  -gtk-icon-transform: scale(1);
}

.modules-right {
  border-radius: 0px 10px 0px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(63,94,251,1);
  font-size: 16px;
  background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.5));
}

.modules-right #cpu,
.modules-right #memory {
  padding: 10px 0px 10px 0px;
}

tooltip {
  background: rgba(0,0,0,0.9);
  border-radius: 5px;
}

/* border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(51,204,254,1), rgba(63,94,251,1), rgba(0,0,0,0)) 1 100%; */
/* border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,1), rgba(0,0,0,0)) 1 100%; */
/* box-shadow: inset 2px 0 rgba(255, 255, 255, 0.8); */
/* border-image: linear-gradient(to bottom, rgba(0,0,0,0),rgb(51,204,254), rgba(0,0,0,0)) 1 100%; */
/* border-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(63,94,251,1), rgba(0,0,0,0)) 1 100%; */
/* border-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(51,204,254,0.4), rgba(63,94,251,0.4), rgba(0,0,0,0)) 1 100%; */
/* box-shadow: inset 2px 0 rgba(255, 255, 255, 0.4); */
/* padding: 0px 5px 0px 5px; */
/* transition: box-shadow 0.3s ease-out; */
/* box-shadow: inset 2px 0 rgba(255, 255, 255, 0); */
/* border-image: linear-gradient(to bottom, */
/*   rgba(0,0,0,0), */
/*   rgba(63,94,251,1), */
/*   rgba(63,94,251,1), */
/*   rgba(63,94,251,1), */
/*   rgba(63,94,251,1), */
/*   rgba(0,0,0,0)) */
/*   1 100%; */
/* background: rgba(0,0,0,0.7); */
/* transition: box-shadow 0.3s ease-out; */
/* background-image: url(""); */
/* background-size: cover; */
/* background-repeat: no-repeat; */
